<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1a202874-ea50-4354-b042-d059eed4bc1e/resourcegroups/rgCMPG323-Project2/providers/Microsoft.Web/sites/CMPG323-Project2-API</ResourceId>
    <ResourceGroup>rgCMPG323-Project2</ResourceGroup>
    <ApiResourceId>/subscriptions/1a202874-ea50-4354-b042-d059eed4bc1e/resourceGroups/rgCMPG323-Project2/providers/Microsoft.ApiManagement/service/CMPG323-Project2-APIapi/apis/CMPG323-Project2-API</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cmpg323-project2-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>bda13389-9c56-400c-be5f-338e6dabd989</ProjectGuid>
    <MSDeployServiceURL>cmpg323-project2-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CMPG323-Project2-API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CMPG323-Project2-API</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>